ListenerEclipseProject/xSchemas/options.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="options">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="captorFilter" type="xs:string" minOccurs="0"/>
				<xs:element name="allowUrgentScripts" type="xs:boolean"/>
				<xs:element name="device" type="xs:string"/>
				<xs:element name="key" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>